In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
import numpy as np

In [7]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

NameError: name 'random' is not defined

In [8]:
from np import random

ModuleNotFoundError: No module named 'np'

In [9]:
from numpy import random

In [10]:
import numpy as np

In [12]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [13]:
dataOne = random.rand(5,5)

In [14]:
dataOne

array([[0.03773478, 0.90416914, 0.03981222, 0.95497048, 0.56156961],
       [0.83898042, 0.33679227, 0.20950544, 0.51705308, 0.23373514],
       [0.02407348, 0.62530184, 0.21608476, 0.39435095, 0.87518303],
       [0.69187627, 0.54930569, 0.19548258, 0.58769463, 0.01771021],
       [0.1046711 , 0.41210712, 0.2582134 , 0.68967934, 0.97208528]])

In [15]:
np.mean(dataOne)

0.4499256896505054

In [16]:
functionName()

NameError: name 'functionName' is not defined

In [17]:
np.functionName()

AttributeError: module 'numpy' has no attribute 'functionName'

In [48]:
np.sum(dataOne)

11.248142241262634

In [49]:
np.average(dataOne)

0.4499256896505054

In [50]:
np.ceil(dataOne)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [19]:
varOne = 25

In [20]:
varTwo = 25.0

In [21]:
varThree = varOne + varTwo

In [22]:
print(varThree)

50.0

In [23]:
varOne = 25

In [24]:
varTwo = 'Hello'

In [25]:
varThree = varOne + varTwo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
print(varThree)

50.0

In [32]:
listOne = {'a':1, 'b':2,'c':3,'d':4,'e':5}

In [40]:
listOne['a']

1

In [51]:
print(listOne)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [52]:
tel = {'jack': 4098, 'sape': 4139}

In [53]:
tel['jack']

4098

In [56]:
type(listOne)

dict

In [65]:
math1 = math.exp(listOne['d'])

In [66]:
math2 = math.copysign(listOne['a'], listOne['c'])

In [67]:
math3 = math.factorial(listOne['d'])

In [68]:
print(math1)

54.598150033144236

In [69]:
print(math2)

1.0

In [70]:
print(math3)

24

In [71]:
import pandas as pd

In [75]:
iris = pd.read_csv("C:/Users/jrobertson/Documents/Analytics Course/Course 2/T1/iris.csv")

In [76]:
print(iris)

     Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  \
0             1           5.1          3.5           1.4          0.2
1             2           4.9          3.0           1.4          0.2
2             3           4.7          3.2           1.3          0.2
3             4           4.6          3.1           1.5          0.2
4             5           5.0          3.6           1.4          0.2
..          ...           ...          ...           ...          ...
145         146           6.7          3.0           5.2          2.3
146         147           6.3          2.5           5.0          1.9
147         148           6.5          3.0           5.2          2.0
148         149           6.2          3.4           5.4          2.3
149         150           5.9          3.0           5.1          1.8

       Species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 6 columns]